
@import url("https://fonts.googleapis.com/css2?family=Jaldi&family=Jua&family=Kodchasan:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jaldi&family=Jua&family=Kodchasan:wght@200&display=swap");
@import url("https://https://github.com/Affinity-PR-01/surabe_web/pull/5/conflict?name=style.css&base_oid=347bf745ebe246cc01bd7ce71b8252d1378675f0&head_oid=eb693603c6c182c72c9ae912b63cad94918c2ac2fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Jaldi&family=Jua&family=Kodchasan:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Jua&family=Kodchasan:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jaldi&family=Jua&family=Kodchasan:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Itim&family=Jaldi&family=Jua&family=Kodchasan:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Jacques Francois Shadow');
@import url('https://fonts.googleapis.com/css?family=Istok Web');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper h1 {
  font-size: 3em;
  font-family: "Jua";
  color: #2f682e;
  margin: 25px;
}

.wrapper h2 {
  font-family: "Itim";
}

.wrapper p {
  font-family: "Istok Web";
}

.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  margin-top: 30px;
}
.card-box {
  min-height: 220px;
  width: 380px;
  padding: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  
  
}
.card-box i {
  margin: 20px;
  color: #581ed6;
}
.card-box h2 {
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
}
.card-box p {
  color: #6c757d;
  text-align: center;
}
.card-box:hover i,
.card-box:hover p {
  color: #fff;
}
.card-box:hover h2 {
  font-weight: 600;
}
.card-box:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(88, 70, 159, 0.7) 0%,
      rgba(136, 113, 199, 0.7) 100%
    ),
    url("img/bg1.jpg");
  background-size: cover;
  

  
}
.card-box:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(88, 70, 159, 0.7) 0%,
      rgba(136, 113, 199, 0.7) 100%
    ),
    url("img/bg2.jpg");
  background-size: cover;
  
}
.card-box:nth-child(3):hover {
  background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("img/bg3.png");
background-size: cover;
}
.card-box:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(88, 70, 159, 0.7) 0%,
      rgba(136, 113, 199, 0.7) 100%
    ),
    url("img/bg1.jpg");
  background-size: cover;
}
.card-box:nth-child(5):hover {
  background: linear-gradient(
    45deg,
    rgba(88, 70, 159, 0.7) 0%,
    rgba(136, 113, 199, 0.7) 100%
  ),
  url("img/bg2.jpg");
background-size: cover;
}
.card-box:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(88, 70, 159, 0.7) 0%,
      rgba(136, 113, 199, 0.7) 100%
    ),
    url("img/bg3.png");
  background-size: cover;
}

.More-Services {
  border: 1px solid #2f682e;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Jua";
  cursor: pointer;
  margin: 40px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  width: 250px;
  border-radius: 15px;
  color: #2f682e;
}
.btn1,
.btn2 {
  color: #2f682e;
}
.btn3,
.btn4 {
  color: #2f682e;
}
.btn1:hover,
.btn2:hover {
  color: #fff;
}
.btn3:hover,
.btn4:hover {
  color: #3498db;
}
.More-Services::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #2f682e;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,
.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,
.btn4::before {
  height: 180%;
}
.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}
.btn3:hover::before,
.btn4:hover::before {
  height: 0%;
}
.ha{
    font-family: Jua;
    color: #2F682E;

}

.myp{
    font-family: Istok Web;
    color: black;
    font-weight: 300;
}
.bn{
    padding: 10px 10px;
    outline: none;
    border-radius: 20px;
    border: none;
    font-family: itim;
    
    color: white;
}
.bn1{
    background-color: #1877F2;

}
.bn2{
    background-color: #075e54;
}
.bne{
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #2F682E;
    color: #C9F8C8;
    font-weight:500;
    font-family: Istok Web;
    
}


@media (max-width: 1217px) {
    .wrapper {
      padding: 25px;
    }
    .wrapper h1 {
      font-size: 2.5em;
      font-weight: 600;
    }
    .content-box {
      flex-direction: row; /* Set to row for two columns */
      justify-content: space-around; /* Adjust as needed for spacing between columns */
      width: 100%;
    }
    .card-box {
      min-width: calc(50% - 20px); /* Set minimum width for two columns with margin */
      margin: 15px 0;
    }
  }
/* 
   header {
    background: transparent;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease;
    overflow: visible;
}

header.scrolled {
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
}

header a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
} /* Smooth transition for color change */

header a.header-topics {
    margin: 0 15px;
    color: black; /* Initial color for header topics */
}

  .header-topics{

    font-family: Itim;
  }

  .home-header{
    font-family: Italiana;
    font-size: 100px;
    margin-bottom: -20px;
  } 

  .home-subheader{
    font-family: Jacques Francois Shadow;
    font-size: 65px;
  }

  .home-paragraph{
    font-family: Istok Web;
    font-weight: bold;
    font-size: 17px;
  }
  
  .button-container {
    text-align: center;
}

.animated-button {
    display: inline-block;
    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #C9F8C8;
    background-color: #2F682E;
    border: 1px solid #2F682E;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.animated-button::before {
    content: "";
    background: #C9F8C8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: height 0.5s ease;
}

.animated-button:hover::before {
    height: 100%;
}

.animated-button:hover {
    background-color: #C9F8C8;
    color: #2F682E;
}

.animated-button2 {
  display: inline-block;
  padding: 5px 30px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #2F682E;
  background-color: #C9F8C8;
  border: 1px solid #2F682E;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.animated-button2::before {
  content: "";
  background: #2F682E;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: height 0.5s ease;
}

.animated-button2:hover::before {
  height: 100%;
}

.animated-button2:hover {
  background-color: #2F682E;
  color: #C9F8C8;
}

.home_div{
  overflow: hidden;
  position: relative;
    width: 100%;
    top: 0;
    z-index: 900;
}

/* diluna */

.mn{
  font-family: itim;
}

.bg{
  background-image: linear-gradient(to right, #C9F8C8 60%, #2f682e 40% );
}
.bt{
  padding: 5px 25px;
  border: 2px solid #2F682E;
  border-radius: 50px;
  background-color: #2F682E;
  color: white;
 
}
.hadder-top{
  font-family:  italiana;
  font-size: 100px;
}
.hadder-top-2{
  font-family:  jacques Francois Shadow;
  font-size: 60px;
}
.pa{
  font-family: Istok Web;
}
.bt-2{
  border: 2px solid #2F682E;
  color: #2F682E;
  background-color: transparent;
}
@media (max-width:370px){
  .hadder-top{
    
    font-size: 80px;
  }
  .hadder-top-2{
    
    font-size: 60px;
  }

}
@media (max-width:300px){
  .hadder-top{
    
    font-size: 60px;
  }
  .hadder-top-2{
    
    font-size: 40px;
  }

}
@media (max-width:373px){
  .bt-2{
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
  }
 

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: calc(100vh - 120px); /* Adjust based on your header's height */
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background-color: #2f682e;
  color: white;
  padding: 20px 0;
}
